.container {
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5% auto;
    text-align: center;
    padding: 2rem 3.5rem;
    border-radius: 5px;
    word-wrap: break-word;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
    overflow: hidden; 
    box-shadow: 1px 1px 10px #d8f70f;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    z-index: -1;
    border-radius: 5px;
}


input {
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 10px;
}

input:hover {
    box-shadow: 1px 1px 10px #7fddff;
}

button {
    width: 5rem;
    text-align: center;
    background-color: #e6f96e;
    cursor: pointer;
    border-radius: 5px;
    border-color: #0388fc;
    font-weight: bold;
}

button:hover {
    background-color: #97fbd8;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 30vh auto;
        padding: 2rem;
        width: 70vw;
    }
}

