/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

* {
    font-family: "Gotu", serif;
}

body {
    background: linear-gradient(to right, #2c4f76, #ab469a);
    box-sizing: border-box;
}